.root-nav{
  background-color: #2F2D2E !important; 
}

.nav{
  background-color: #2F2D2E !important; 
  font-size: small;
  font-weight: 300;
}

.nav-link.active {
  color: #ECA400 !important; 
}

.nav-link {
  color: white;
}

.navbar-toggler-icon {
  color: #ECA400 !important; 
}

.outlet-container {
  /* min-height: 80vh !important;  */
  display: flex;
  align-items: center;
}