.homeRoot{
  min-height: 90vh !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='681' height='261' viewBox='0 0 681 261'%3E%3Cpath d='M317.5 61.9467C177.397 131.947 65.8817 170.78 0 126.447V260.947C0 260.947 382 151.447 488 178.947C594 206.447 681 260.947 681 260.947V92.9466C455.5 -43.5533 457.603 -8.05332 317.5 61.9467Z' fill='%23ECA400'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0 auto;
}

.home-heading{
  color: white;
  font-weight: 800;
  font-size: 50px;
}

.rotated-img {
  transform: rotate(10deg);
  margin-top: 50px;
}
.botton-home{
  background-color: #F14A41 !important;
  border-color: #F14A41 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 40px !important; 
}

.homeMenu{
  padding: 20px;
  background-color: white;
}

.homeInfo{
  padding: 20px;
  background-color: #F14A41;
}

.home-info-first{
  color: white;
  font-weight: 800;
  font-size: 20px;
}

.home-info-second{
  color: #ECA400;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white, 1px 1px white, -1px -1px white, -1px 1px white, 1px -1px white;
}

.btn-info{
  background-color: #0f960f !important;
  border-color: #0f960f !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 40px !important; 
  color: white !important;
}
.home-menu-row{
  padding: 10px !important;
}

.burger-container {
  color: white;
  font-size: 10px;

}
.home-menu-title{
  color: #2F2D2E;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.info-menu {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.burger-icon {
  position: relative;
  height: 60px;
  width: 60px;
  transform: translate(-50%, 20%);
}

.info-menu{
  border-radius: 20px !important; 
  background-color: #2F2D2E !important;
  width: 200px;
  height: 200px;
  margin: 10px;
}

